In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1728,tt0765443,51500000,55112356,Eastern Promises,Naomi Watts|Viggo Mortensen|Vincent Cassel|Arm...,David Cronenberg,Every sin leaves a mark.,A Russian teenager living in London who dies d...,100,Thriller|Crime|Mystery,BBC Films|Serendipity Point Films|TÃ©lÃ©film C...,9/14/2007,7.0,2007
919,tt0281322,20000000,12398628,Undisputed,Wesley Snipes|Ving Rhames|Peter Falk|Michael R...,Walter Hill,Two Enemies ... The Mob ... The Ultimate Showd...,Monroe Hutchens is the heavyweight champion of...,96,Action|Adventure|Drama|Thriller,Miramax Films|Amen Ra Films,8/23/2002,6.3,2002
345,tt1135487,78146652,60000000,Duplicity,Clive Owen|Julia Roberts|Paul Giamatti|Tom Wil...,Tony Gilroy,Outwit. Outspy. Outsmart. Outplay. Then get out.,Two romantically-engaged corporate spies team ...,125,Thriller,Universal Pictures|Laura Bickford Productions|...,3/19/2009,5.5,2009
912,tt0120679,12000000,56298474,Frida,Salma Hayek|Alfred Molina|MÃ­a Maestro|Patrici...,Julie Taymor,Prepare to be seduced,"""Frida"" chronicles the life Frida Kahlo shared...",123,Drama|Romance,Miramax Films|Lions Gate Films|Ventanarosa Pro...,8/29/2002,7.3,2002
549,tt0277027,22000000,40270895,I Am Sam,Sean Penn|Michelle Pfeiffer|Dakota Fanning|Dia...,Jessie Nelson,love is all you need,Sam has the mental capacity of a 7-year-old. H...,132,Drama,New Line Cinema,12/28/2001,7.2,2001

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [51]:
answers = {} 
data = data.assign(profit=data.revenue-data.budget)
data = data.assign(genresfull=data['genres'].str.split('|'))
data = data.assign(directorfull=data['director'].str.split('|'))
data = data.assign(castfull=data['cast'].str.split('|'))
data = data.assign(release_date_full=data['release_date'].str.split('/'))
data = data.assign(production_companies_full=data['production_companies'].str.split('|'))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [52]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# +

In [0]:
data1 = data.groupby(['budget'])['original_title'].max()

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [53]:
answers['2'] = 'Gods and Generals'
# +

In [0]:
data2 = data.groupby(['runtime'])['original_title'].max()

# 3. Какой из фильмов самый короткий (в минутах)?

In [54]:
answers['3'] = 'Winnie the Pooh'
# +
data3 = data.groupby(['runtime'])['original_title'].max()

# 4. Какова средняя длительность фильмов?

In [55]:
answers['4'] = 110
# +
data4 = data['runtime'].mean()

# 5. Каково медианное значение длительности фильмов?

In [56]:
answers['5'] = 107
# +
data5 = data['runtime'].median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [57]:
answers['6'] = 'Avatar'
# +
data6 = data.groupby(['profit'])['original_title'].max()

# 7. Какой фильм самый убыточный?

In [58]:
answers['7'] = 'The Lone Ranger'
# +
data7 = data.groupby(['profit'])['original_title'].max()

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [59]:
answers['8'] = 1478
# +
data8 = data[data.profit>0]

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [60]:
answers['9'] = 'The Dark Knight'
# +
data9 = data[data.release_year == 2008]
data9.groupby(data9.revenue)['original_title'].max()

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [61]:
answers['10'] = 'The Lone Ranger'
# +
data10 = data[(data.release_year <= 2014) & (data.release_year >= 2012)]
data10.groupby(data10.profit)['original_title'].max()

# 11. Какого жанра фильмов больше всего?

In [62]:
answers['11'] = 'Drama'
# +
data11 = data.copy()
data11 = data11.explode('genresfull')
s = data11['genresfull'].value_counts()
display(s)

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [63]:
answers['12'] = 'Drama'
# +
data12 = data.copy()
data12 = data12[data12.profit>0]
data12 = data12.explode('genresfull')
s = data12['genresfull'].value_counts()
display(s)

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [64]:
answers['13'] = 'Peter Jackson'
# +
data13 = data.groupby(data.director)['revenue'].sum().sort_values(ascending=False)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [65]:
answers['14'] = 'Robert Rodriguez'
# +
data_14 = data.copy()
data_14 = data_14.explode('directorfull')
data_14 = data_14.explode('genresfull')
data_14[data_14['genresfull'] == 'Action'].directorfull.value_counts().sort_values(ascending=False)

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [66]:
answers['15'] = 'Chris Hemsworth'
# +
data15 = data[data.release_year == 2012]
data15 = data15.explode('castfull')
data15 = data15.groupby(data15.castfull)['revenue'].sum().sort_values(ascending=False)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [67]:
answers['16'] = 'Matt Damon'
# +
data16 = data.copy()
data16['budget'].mean()
data16 = data16[data16.budget > 54310829.63843303].sort_values('budget', ascending=False)
data16 = data16.explode('castfull')
s = data16['castfull'].value_counts()
display(s)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [68]:
answers['17'] = 'Action'
# +
data17 = data.copy()
data17 = data17.explode('castfull')
data17 = data17[data17.castfull =='Nicolas Cage']
data17 = data17.explode('genresfull')
s = data17['genresfull'].value_counts()
display(s)

# 18. Самый убыточный фильм от Paramount Pictures

In [69]:
answers['18'] = 'K-19: The Widowmaker'
# +
data18 = data.copy()
data18 = data18.explode('production_companies_full')
data18 = data18[data18.production_companies_full =='Paramount Pictures']
data18.sort_values('profit', ascending=False)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [70]:
answers['19'] = '2015'
# +
data19 = data.copy()
pivot = data19.loc[data19['release_year'].isin(['2014','2008','2012','2002', '2015'])].pivot_table(values=['revenue'],
index=[], columns=['release_year'], aggfunc='sum')
display(pivot)

# 20. Какой самый прибыльный год для студии Warner Bros?

In [71]:
answers['20'] = '2014'
# +
data20 = data.copy()
data20 = data20.explode('production_companies_full')
data20 = data20[data20['production_companies'].str.contains('Warner Bros')]
pivot = data20.loc[data20['release_year'].isin(['2014', '2008', '2012', '2010', '2015'])].pivot_table(values=['profit'],
index=[], columns=['release_year'], aggfunc='sum')
display(pivot)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [72]:
answers['21'] = 'Январь'
# +
data21 = data.copy()
data21['month'] = data21['release_date'].apply(lambda x: x[0:2:1])
data21.month.value_counts()

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [73]:
answers['22'] = '450'
# +

# 23. Для какого режиссера зима – самое продуктивное время года?

In [74]:
answers['23'] = 'Peter Jackson'
# +
data23 = data.copy()
data23 = data23.explode('directorfull')
data23['month'] = data23['release_date'].apply(lambda x: x[0:2:1])
data231=data23[data23.month=='1/']
data232=data23[data23.month=='12']
data233=data23[data23.month=='2/']
data231['directorfull'].value_counts()
data232['directorfull'].value_counts()
data233['directorfull'].value_counts()

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [75]:
answers['24'] = 'Four By Two Productions'
# +
data24 = data.copy()
data24 = data24.explode('production_companies_full')
data24['title_len'] = data24['original_title'].apply(lambda x: len(x))
data24[data24.title_len == data24.title_len.max()]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [76]:
answers['25'] = 'Midnight Picture Show'
# +
data25 = data.copy()
data25['words'] = data25.overview.map(lambda x: len(x.split(' ')))
data25 = data25.explode('production_companies_full')
data25.groupby('production_companies_full')['words'].mean().sort_values(ascending=False).index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [77]:
answers['26'] = 'Inside Out'
# +
data26 = data.copy()
line = np.quantile(data26.vote_average, 0.99)
data26=data26[data26.vote_average >= line]
data26.sort_values('original_title')

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [78]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
# +
data27 = data.copy()
import collections
from itertools import combinations
from collections import Counter
data27['casttwo'] = data27['castfull'].apply(lambda s: list(combinations(s, 2)))
data27 = data27.explode('casttwo')
collections.Counter(data27['casttwo']).most_common(1)

# Submission

In [79]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Январь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)